{% assign slug = audio | split: '/' | last | split: '.' | first | slugify %}

<figure class="audio" data-slug="{{ slug }}">
  <div class="audio-controls">
    <button class="audio-button" id="{{ slug }}-audio-button">
      <i class="audio-icon fa-solid fa-play"></i>
    </button>
  </div>

  <div class="audio-content">
    <div id="{{ slug }}-audio">
    </div>
    <audio src="{{ audio | url }}" preload="none">
    </audio>
  </div>
</figure> 

{% hoist "scripts" "audio" %}
  <script src="https://unpkg.com/wavesurfer.js@7"></script>
  <script src="{{ '/assets/js/audio.js' | url }}"></script>
{% endhoist %}