<article id="{{ post.data.title | slug }}" class="post block block-smart background {{ post.data.color | contrast }}" style="--primary: {{ post.data.color }}">

  <div class="stack constrain">
    
    {% include featured, featured: post.data.featured %}

    <div class="post-body">
      <div class="post-content">
        <header>
          <h1 class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
          <p class="post-project">{{ post.data.date | date: "%B %e, %Y" }} </p>
        </header>

        <div class="post-content-text stack">
          {{ post.templateContent | safe }}
        </div>

        <div class="post-social-block">
          {% include social %}
        </div>
      </div>
    </div>

  </div>

</article>
