{%- unless label == false -%}
<h3>{{ tags }}</h3>
{%- endunless -%}

{% assign collection = collections.all | hasTags: tags | reverse %}
<div class="category-list-projects grid grid-2">
{%- for project in collection -%}

  <div class="category-list-project">
    <div class="stack-compact">
      {%- if use-featured -%}
      {%- assign featured = project.data.featured -%}
      {%- include featured, url: project.url -%}
      {%- endif -%}
      <div class="stack-tight">
        <h4 class="project-title"><a href="{{ project.url | url }}">{{ project.data.title }}</a></h4>
        <p class="project-description">{{ project.data.description }}</p>
      </div>
    </div>
  </div>
{%- endfor -%}
</div>
