<form class="form stack-tight" action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="7cda0e5e-ecd4-430b-b68e-3e348701c975">
  <input type="text" name="name" placeholder="name" required>
  <input type="email" name="email" placeholder="email address" required>
  <textarea name="message" placeholder="message" required></textarea>
  <div class="h-captcha" data-captcha="true"></div>
  <button type="submit"><i class="fa fa-paper-plane"></i> let&rsquo;s do this</button>
</form>

<script src="https://web3forms.com/client/script.js" async defer></script>