<div class="push-sparse stack">
  <div>
    <h3>Get In Touch</h3>
    <div class="text-title">
      <span class="text-display">Ready to tell your story?</span><br />
      <a href="/email">email me</a> or <a href="/book">book a call</a>.
    </div>
  </div>

  <ul class="list-tags">
    <li><i class="fa fa-pen-ruler"></i> creative direction</li>
    <li><i class="fa fa-magic-wand-sparkles"></i> interactive design</li>
    <li><i class="fa fa-book-open"></i> storytelling</li>
    <li><i class="fa fa-gamepad"></i> game design</li>
    <li><i class="fa fa-pen-fancy"></i> narrative design</li>
    <li><i class="fa fa-mouse-pointer"></i> digital systems</li>
    <li><i class="fa fa-music"></i> music composition</li>
    <li><i class="fa fa-dice-d20"></i> actual play</li>
  </ul>
</div>