{% for f in featured %}

  {% if f.type == "gallery" %}
  {% assign images = f.images %}
  {% include gallery, url: url, slug: slug %}

  {% elsif f.type == "hero" %}
  {% include hero, url: f.url %}

  {% elsif f.type == "youtube" %}
  {% include youtube, video_id: f.video_id %}

  {% elsif f.type == "audio" %}
  {% include audio, audio: f.audio %}

  {% elsif f.type == "quote" %}
  {% include quote, quote: f.content %}

  {% elsif f.type == "slot" %}
  {% include slot %}

  {% else %}

  {% endif %}

{% endfor %}