{% assign color = "#161616" %}
<footer id="footer" class="block-loose colorize {{ color | contrast }}" style="--primary: {{ color }}">

  <div class="stack-loose constrain-wide">

    {% if settings.cta %}
    {% include cta %}
    {% endif %}

    {%- unless not pagination.pages.size -%}
    <div class="pagination-block">
      <h3>explore more, <span style="white-space: nowrap;">or take a break</span></h3>
      <nav>
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}"><i class="fa fa-angle-left"></i> older pieces</a>
        {% endif %}
        
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">newer pieces <i class="fa fa-angle-right"></i></a>
        {% endif %}
      </nav>
    </div>
    {%- endunless -%}


    <div>
      <h3>enjoy a random page</h3>
      {% assign random = collections.posts | getRandom: page %}
      <a id="random-post" href="{{ random.url }}">{{ random.data.title }}</a>
    </div>


    {% include subscribe %}
    <div class="grid-medium">

      <nav>
        <h3>my work</h3>
        <ul>
          {% for link in navigation.initiatives %}
          <li><a href="{{link.url}}">{{ link.page }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <nav>
        <h3>my art</h3>
        <ul>
          <li><a href="/games">games</a></li>
          <li><a href="/music">music</a></li>
          <li><a href="/projects">all projects</a></li>
          <li><a href="/everything">everything else</a></li>
        </ul>
      </nav>

      <nav>
        <h3>my faves</h3>
        <ul>
          {% for link in navigation.people %}
          <li><a href="{{link.url}}">{{link.page}}</a></li>
          {% endfor %}
        </ul>
      </nav>

    </div>

    <div class="copyright distribute inline between-pipe">
      <span>&copy;{{ "now" | date: "%Y" }} dain saint</span>

      <ul class="distribute inline">
        {% for link in navigation.follow %}
          <li><a href="{{link.url}}"><i class="{{link.page}}"></i></a></li>
        {% endfor %}
      </ul>

      <ul class="distribute inline">
        {% for link in navigation.causes %}
        <li><a class="link-plain" href="{{link.url}}">{{link.page}}</a></li>
        {% endfor %}
      </ul>


    </div>

  </div>

</footer>