{% assign color = "#161616" %}
<footer class="block-loose colorize {{ color | contrast }}" style="--primary: {{ color }}">

  <div class="stack-loose constrain">
      
    {%- unless not pagination.pages.size -%}
    <div class="pagination-block">
      <h3>explore more, <span style="white-space: nowrap;">or take a break</span></h3>
      <nav>
        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}"><i class="fa fa-angle-left"></i> older pieces</a>
        {% endif %}
        
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">newer pieces <i class="fa fa-angle-right"></i></a>
        {% endif %}
      </nav>
    </div>
    {%- endunless -%}


    <div>
      <h3>enjoy a random piece</h3>
      {% assign random = collections.posts | getRandom: page %}
      <a href="{{ random.url }}">{{ random.data.title }}</a>
    </div>

    
    <nav class="project-nav">
      <h3>projects</h3>
      <ul>
        {% for link in navigation.portfolios %}
        <li><a href="/{{link.page}}">{{ link.page }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    {% include subscribe %}

    <div id="copyright">
      &copy;{{ "now" | date: "%Y" }} dain saint  <a href="https://www.equalityjamaica.org">🇯🇲</a> <a href="https://www.waygay.org">🏳️‍🌈</a> <a href="https://pcrf.net">🇵🇸</a>
    </div>

  </div>

</footer>
