<header class="header-main block {{ color | contrast }}">

  <div class="constrain">
    {% assign home = '/' %}
    <div class="header-lede">
      <div class="header-text">
        <a class="title" href="{{ home | url }}">dain saint</a>
        <span class="tagline">storyteller, musician, designer</span>
      </div>

      <button class="header-menu-button"><i class="fa fa-bars"></i></button>
    </div>
    <nav class="header-nav">
      <div class="header-nav-close">
        <button class="header-menu-button"><i class="fa fa-xmark"></i></button>
      </div>

      {% for link in navigation.links %}
        {% assign active = false %}

        {% if link.page == page.fileSlug %}
        {% assign active = true %}
        {% endif %}

        {% for tag in link.tags %}
          {% for t in tags %}
            {%- if tag == t -%}
              {% assign active = true %}
              {% break %}
            {%- endif -%}
          {% endfor %}
        {% endfor %}

        {% assign pg = link.page | prepend: "/" %}
        <a class="{% if active %}active{% endif %}" href="{{ link.url | default: pg }}">{{ link.page }}</a>

      {% endfor %}
    </nav>

    
    {% if promo %}
    <hr/>

    <div class="promo">
      {{ promo | markdown }}
    </div>

    {% endif %}
  </div>
</header>

{% hoist "scripts" "header" %}
<script id="header-menu">
  document.querySelectorAll(".header-menu-button").forEach(button => {
    button.addEventListener("click", () => {
      document.querySelector('.header-main').classList.toggle('is-open');
      document.body.classList.toggle("noscroll");
    })
  })
</script>
{% endhoist %}