<header class="header-main {{ color | contrast }} {% if promo %}promo{% endif %}">

  <div class="header-content">
  {% assign home = '/' %}
  <div class="header-lede">
    <a class="title{% if page.fileSlug == '' %} active{% endif %}" href="{{ home | url }}">dain saint</a>
    <span class="tagline">stories, sounds, and systems</span>
  </div>
  <nav class="header-nav">
    {% for link in navigation.links %}
      {% assign active = false %}

      {% if link.page == page.fileSlug %}
      {% assign active = true %}
      {% endif %}

      {% for tag in link.tags %}
        {% for t in tags %}
          {%- if tag == t -%}
            {% assign active = true %}
            {% break %}
          {%- endif -%}
        {% endfor %}
      {% endfor %}


    <a class="{% if active %}active{% endif %}" href="/{{ link.page }}">{{ link.page }}</a>
    {% endfor %}
    <a href="https://dainsaint.square.site">store</a>
  </nav>

  
  {% if promo %}
  <hr/>

  <div class="promo">
    {{ promo | markdown }}
  </div>

  {% endif %}
</div>
</header>
