<header class="header-main {{ color | contrast }} {% if promo %}promo{% endif %}">

  <div class="header-content">
  {% assign home = '/' %}
  <div class="header-lede">
    <a class="title" href="{{ home | url }}">dain saint</a>
    <span class="tagline">stories, sounds, and systems</span>
  </div>
  <nav class="header-nav">
    <a class="{% if page.fileSlug == '' %}active{% endif %}"href="/">home</a>
    {% for link in navigation.links %}
    <a class="{% if link.page == page.fileSlug %}active{% endif %}" href="/{{ link.page }}">{{ link.page }}</a>
    {% endfor %}
    <a href="https://dainsaint.square.site">store</a>
  </nav>

  {{ data.tags | debugger }}

  {% if promo %}
  <hr/>

  <div class="promo">
    {{ promo | markdown }}
  </div>

  {% endif %}
</div>
</header>
