<article id="{{ post.data.title | slug }}" class="post block-smart colorize {{ post.data.color | contrast }}"
  style="--primary: {{ post.data.color }}">

  <section class="stack constrain-{{ post.data.settings.constrain }}">
    
    {% include featured, featured: post.data.featured %}

    <div class="post-body">
      <div class="post-meta">
        <div class="post-meta-deco color-match" style="background-image: url('/assets/img/deco/{{ post.data.deco }}.webp')">
        </div>
      </div>

      {% assign query = collections.projects | fromFile: post.data.project %}

      <div class="post-content stack">
        <header>
          <h1 class="post-title">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h1>

          {% if query %}
          <p class="post-project">part of <a href="{{ query.url | url}}">{{ query.data.title }}</a></p>
          {% endif %}
        </header>

        <div class="post-content-text stack">
          {{ post.templateContent | safe }}
        </div>

      </div>



    </div>
  </section>

</article>