{%- if title != "" or description != "" -%}
<div class="project-info">
  <span class="project-tag">{{ tags[1] }}</span>
  <h1>{{ title }}</h1>
  {% if description %}
  <div class="project-description">{{ description | markdown }}</div>
  {% endif %}
  {%- if url != nil -%}
  <div class="post-permalink">
    <a class="copy-link" href="https://dainsaint.com{{ url | url }}">dainsaint.com{{ url | url }}</a>
    <span class="message">Link copied to clipboard!</span>
  </div>
  {%- endif -%}
</div>
{%- endif -%}
