{% assign posts = collections.posts | inProject: page.inputPath | map: 'data' %}

<article class="project {{ color | contrast }}" style="--primary: {{ color }}">

  <section class="stack block-lede constrain">
    {% include featured, featured: featured, slug: page.fileSlug %}

    <div class="project-intro">
      {% include project-info, url: page.url %}

      <div class="project-status">
        {{ status | markdown }}
      </div>
    </div>

    {{ content | safe }}

    {% include toc, posts: posts %}

  </section>

  {% inject "sections" %}

</article>


<div class="project-posts {{ arrange }}">

{% for p in posts %}
{% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}
{% include content %}
{% endfor %}

</div>