{%- if title != "" or description != "" -%}
<div class="project-info">
  {% unless style == "index" %}
  <span class="text-eyebrow">{{ tags[1] }}</span>
  {% endunless %}
  <h1>
    {{ title }}
  </h1>
  
  {% if description %}
  <p class="project-description">{{ description | inline }}</p>
  {% endif %}

  {%- if url != nil -%}
  <div class="post-permalink">
    <a class="copy-link" href="https://dainsaint.com{{ url | url }}">dainsaint.com{{ url | url }}</a>
    <span class="message">Link copied to clipboard!</span>
  </div>
  {%- endif -%}
</div>
{%- endif -%}
