{% assign posts = collections.posts | inProject: page.inputPath | map: 'data' %}

<article class="post lede {{ color | contrast }}" style="--background: {{ color }}">

  <div class="post-main">

    {% include featured %}

    <div class="project-body">

      <div class="project-intro">

      {% include project-info, url: page.url %}

      <div class="project-status">
        <p>
          {{ status | markdown }}
        </p>
      </div>

    </div>

    <div class="post-content">

      {{ content | safe }}

    </div>

    {% include toc, posts: posts %}

  </div>



</article>
<section class="project-posts {{ arrange }}">
{% for p in posts %}
{% assign post = collections.all | where: "fileSlug", p.page.fileSlug | first %}
{% include post-content, post: post %}
{% endfor %}
</section>
