{%- if title != "" or description != "" -%}
<div class="project-info">
  <h1 class="project-title">
    <span class="project-tag">{{ tags[1] }}</span>
    {{ title }}
  </h1>
  <div class="project-description">{{ description | markdown }}</div>
  {%- if url != nil -%}
  <div class="post-permalink">
    <a class="copy-link" href="https://dainsaint.com{{ url | url }}">dainsaint.com{{ url | url }}</a>
    <span class="message">Link copied to clipboard!</span>
  </div>
  {%- endif -%}
</div>
{%- endif -%}
