<!-- <form 
  class="post-subscribe-form" 
  action="https://buttondown.email/api/emails/embed-subscribe/dainsaint" 
  method="post" 
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/dainsaint', 'popupwindow')">
  <input name="email" id="bd-email" placeholder="enter your email address">
  <input class="highlight" type="submit" value="subscribe">
</form> -->

<div style="min-height: 58px; width: 100%">
  <script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.3/umd/signup-form.min.js" data-label-1="dainsaint.com"
    data-button-color="#573E79" data-button-text-color="#FFFFFF" data-site="https://blog.dainsaint.com/"
    data-locale="en" async></script>
</div>

<script>

</script>