<article id="{{ post.data.title | slug }}" class="colorize block-full {{ post.data.color | contrast }}"
  style="--primary: {{ post.data.color }}">

  <section class="post-main blog poem constrain">
    <div class="post-body">
      <div class="post-content">
        <h2 class="post-title">{{ post.data.title }}</h2>
        <div class="post-content-text">
          {{ body }}
        </div>
        <div class="post-handle">@dainsaint</div>
      </div>
    </div>
  </section>

  {% if more %}
    <div class="buttons post-more">
      <li><a>MORE ></a></li>
    </div>
  {% endif %}

</article>