<article id="{{ post.data.title | slug }}" class="post colorize block block-smart {{ post.data.color | contrast }}"
  style="--primary: {{ post.data.color }}">

  <div class="post-main continued poem constrain">
    <div class="post-body">
      <div class="post-meta">
      </div>
      <div class="post-content">
        <h2 class="post-title">&nbsp;</h2>

        <div class="post-content-text">
          {{ body }}
        </div>

        <div class="post-handle">@dainsaint</div>
      </div>
    </div>
  </div>

  <div class="buttons post-more">
    <li><a>MORE ></a></li>
  </div>

</article>