:root {
  --gap: 1.25rem;
  --margin: 1.25rem;
}

/* STACK */

.stack > * + * {
  margin-block-start: 1.25rem;
}

.stack-tight > * + * {
  margin-block-start: .2rem;
}

.stack-compact > * + * {
  margin-block-start: .75rem;
}

.stack-loose > * + * {
  margin-block-start: 2.5rem;
}

.stack-airy > * + * {
  margin-block-start: 8rem;
}

.stack-isolate {
  & + * {
    margin-block-start: 5rem;
  }

  * + & {
    margin-block-start: 5rem;
  }
}

[class~=stack] h3:not(.stack-isolate) + * {
  margin-block-start: .25rem;
}

/* GROUP */

.group {
  & > * + * {
    margin-block-start: .5rem;
  }

  & > h3 + * {
    margin-block-start: 0rem;
  }
}


/* CONSTRAIN */

.constrain > * {
  max-inline-size: min(100% - 2 * var(--margin), 800px);
  margin-inline: auto;
}

.constrain-wide {
  max-inline-size: min(100% - 2 * var(--margin), 1200px);
  margin-inline: auto;
}

.constrain-full {
  max-inline-size: calc(100% - 2 * var(--margin));
  margin-inline: auto;
}

.flush {
  --margin: 0rem;
}


/* BLOCK */


.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem 0;

  & > * {
    width: 100%;
  }

}

.block-loose {
  padding: 10rem 0;
}

.block-smart:not(:has(.hero)) {
  justify-content: space-between;  
  min-height: calc(100vh);
  padding: 0;

  & > * {
    min-height: auto;
    flex-basis: 999;
  }

  &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    min-height: 10rem;
  }

}

main > .block-smart:first-of-type {
  min-height: calc(100vh - 108px);
    
  &::before {
    min-height: 1.25rem;
    max-height: 10rem;
    flex: 1 1 1.25rem;
  }
}

.block-smart:has(.hero) {
  padding-bottom: 10rem;
}

.block:has( > .hero:first-child ) {
  padding-block-start: 0;
}


.block-lede {
  padding-block-start: 1.25rem;
  padding-block-end: 10rem;
}

.block-smart, .block-lede, .block-loose {
  .stack-isolate:last-child{
    margin-block-end: -5rem;
  }
}




/* GRID */

.grid {
  --grid-column-count: 1;
  --grid-gap-count: calc(var(--grid-column-count) - 1);
  --grid-total-gap-width: calc(var(--grid-gap-count) * var(--gap));
  --grid-max-width: calc((100% - var(--grid-total-gap-width)) / var(--grid-column-count));
  --grid-min-width: 300px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-max-width), min( var(--grid-min-width), 100%)), 1fr));
}

.grid-2 {
  --grid-column-count: 2;
}

.grid-3 {
  --grid-column-count: 3;
}

.grid-4 {
  --grid-column-count: 4;
}

.grid-5 {
  --grid-column-count: 5;
  --grid-min-width: 19%;
}

.gap-tight {
  --gap: .25rem;
}

.gap-compact {
  --gap: .5rem;
}

.gap-loose {
  --gap: 2.5rem;
}

.gap-airy {
  --gap: 4rem;
}



/* TILES */
.tiles {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--gap);

  --horizontal: 1;
  --vertical: 1;

  &>* {
    aspect-ratio: var(--horizontal) / var(--vertical);
    grid-column: span var(--horizontal);
    grid-row: span var(--vertical);

    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center center;
    object-fit: cover;
  }
}

.tile-wide-2 {
  --horizontal: 2;
}

.tile-wide-3 {
  --horizontal: 3;
}

.tile-tall-2 {
  --vertical: 2;
}

.tile-tall-3 {
  --vertical: 3;
}

/* COLUMNS (TEXT) */


.columns {
  columns: 2 325px;
}

/* BRICKS */

.bricks {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--gap);

  & > * {
    flex: 1 1 auto;
    inline-size: auto;
    block-size: 10rem;
    object-fit: cover;
  }
}

.bricks-tall > * {
  block-size: 20rem;
}

.bricks-short > * {
  block-size: 5rem;
}

.brick-contain {
  object-fit: contain;
}

/* FLEX */

.flex {
  display: flex;
  gap: var(--gap);
}


/* ALIGN */

.align-center {
  text-align: center;
  justify-content: center;
}

.align-left {
  text-align: left;
  justify-content: start;
}

.align-right {
  text-align: right;
  justify-content: end;
}

.align-top {
  object-position: top center;
}


/* ?????? */

.pull {
  margin-block-end: -1.25rem;
}

.pull-tight {
  margin-block-end: -.2rem;
}

.pull-compact {
  margin-block-end: -.75rem;
}

.pull-loose {
  margin-block-end: -2.5rem;
}

.pull-airy {
  margin-block-end: -8rem;
}

.push {
  margin-block-start: 1.25rem;
}

.push-tight {
  margin-block-start: .2rem;
}

.push-compact {
  margin-block-start: .75rem;
}

.push-loose {
  margin-block-start: 2.5rem;
}

.push-airy {
  margin-block-start: 8rem;
}

.list-inline {

  ul,
  li {
    display: inline-block;
  }
}

.inline > * {
  display: inline-block;
}

ul.inline {
  padding: inherit;
}


.distribute > * + *{
  
  margin-inline-start: 0.5rem;
  &::before {
    margin-inline-end: 0.5rem;
  }
}

.distribute-tight > * + * {
  margin-inline-start: 0.25rem;
  &::before {
    margin-inline-end: 0.25rem;
  }
}

.distribute-loose > * + * {
  margin-inline-start: 1rem;
  &::before {
    margin-inline-end: 1rem;
  }
}



.between-interpunct {
  & > * + *::before {
    content: ' • ';
    display: inline-block;
  }
}

.between-pipe {
  & > * + *::before {
    content: ' | ';
    display: inline-block;
  }
}

.between-divider {
  & > * + *::before {
    content: '';
    display: block;
    inline-size: 100%;
    border-block-start: 1px solid var(--color);
    margin-block-start: inherit;
  }
}

.size-full {
  width: 100%;
}




.table {
  padding: 0;
  li {
    display: block;
    position: relative;
    border-bottom: 1px solid var(--color);
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 0%;
      background: var(--color);
      transition: height .1s ease;
      pointer-events: none;
    }
  }

  li:hover {
    
    
    &::before {
      height: 100%;
    }
  }

  li a {
    display: grid;
    grid-template-columns: .25fr .5fr 1fr;
    position: relative;
    text-decoration: none;
    z-index: 1;
    align-items: center;

    &:hover {
      color: var(--primary);
    }
    

    > * {
      padding: .25rem;
    }

    time {
      background: transparent;
      white-space: normal;
      color: currentColor;
    }

  }
}

.list-plain {
  padding: 0;

  li {
    display: block;
  }
}