:root
{
  --color: red;
  --color-alpha: #FF000020;
  --dark: #062535;
  --dark-alpha: #06253520;
  --light: #f7ede2;
  --light-alpha: #f7ede220;
  --background: #DFE0DF;
}

h1, h2, h3, h4
{
  padding: 0px;
  margin: 0px;
}

h2
{
  font-size: 1.3em;
  margin-bottom: .3em;
}

hr
{
  border: none;
  border-bottom: 1px solid var(--color-alpha);
}

html
{
  background: #222;
}

body
{
  --color: var(--dark);
  --color-alpha: var(--dark-alpha);
  background: var(--background);
  font-family: "Spectral", serif;
  padding: 0px;
  margin: 0px;
  font-size: 21px;
  line-height: 28px;
  color: var(--color);
}


a
{
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 4px;
}


img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  content-visibility: auto;
  /* transition: filter 0.3s ease-out; */
}

img.blur
{
  filter: blur(20px);
}

img.actual, picture img
{
  width: auto;
  margin: 0px auto;
}

.date {
  background: var(--color);
  color: var(--background);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

.hero-image
{
  height: 40vh;
  background: center center no-repeat;
  background-size: cover;
}
.header-main
{

  padding: 24px 0px;
  box-sizing: border-box;
  /* position: fixed; */
  width: 100%;
  /* z-index: 1; */
  /* position: absolute; */

  border-bottom: 1px solid var(--color-alpha);
}

.header-main.promo
{
  position: static;

}

.header-main a
{

}

.header-main hr
{
  margin: 20px 0px;
}


.header-content
{
  width: 800px;
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.header-nav
{

}

.header-nav a
{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

.header-nav a.active
{
  border-bottom: 2px solid var(--color);
}


.header-main .title
{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.header-main .title.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.header-main .title:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}


.header-main .tagline
{
  font-size: 16px;
  font-style: italic;
  white-space: nowrap;
}

.header-nav a:hover
{
  border-bottom: 4px solid var(--color);
}

.post
{
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post.full
{
  min-height: 100vh;
}

.post.lede .post-main{
  padding-top: 40px;
}

.post-main
{
  padding: 200px 8px;
  flex: 1 1 auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 90%;
  /* padding: 12px; */
  /* border: 1px solid blue; */
}

main > .post:first-child .post-main{
  padding: 40px 8px;
}

.posts>.post:first-child .post-main {
  padding-top: 40px;
}

.single .post.full {
  min-height: calc( 100vh - 108px );
}

.single .post .post-main {
  
}

.post-body
{
  display: flex;
  gap: 16px;
}

.group
{
  padding-bottom: 10px;
}

.featured
{
  margin-bottom: 45px;
}

.gallery
{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 8px;
  max-width: 100%;
}

.gallery .gallery-image
{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.gallery .gallery-image img
{
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.post-meta
{
  flex: 0 0 auto;
  width: 98px;
  margin-top:15px;
  font-family: 'Questrial', sans-serif;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  border-top: 6px solid var(--color);
  padding-top: 8px;
  /* margin-right: 16px; */
}

.post-meta-deco
{
  margin-top: 8px;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  height: 100%;
  background: url('../img/deco/elevation.webp') top center no-repeat; */
  background-size: auto 500px;
}


.deco-flower
{
  /* background-image: url('../img/deco/flower.png'); */
  /* background-size: auto 500px; */

}

.post-header
{
  font-size: 24px;
  margin-bottom: 0px;
}

.post-header a
{
  text-decoration: none;
}

.post-content-text
{
  margin-top: .5em;
}

.post-content p
{
  margin-bottom: 16px;
}

.post-content p:last-child
{
  margin-bottom: 0px;
}

.post-project
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.post-project a
{
  font-style: italic;
}

hr
{
  margin: 32px 0px;
}

.post-permalink
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.post-subscribe
{
  margin-top: 72px;
}

.post-subscribe-form input
{
  margin-bottom: 12px;
}

/* p img
{
  margin: 15px 0px;
} */



/*
*
*
* PROJECT
*
*/

.project-body > :last-child { 
  margin-bottom: 0 !important;
}

.project-intro
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 45px;
}


.project-info
{
  /* max-width: 50%; */
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 8px;
  flex: 2 1 300px;
  margin-bottom: 20px;
}

.project-intro > *
{
  /* border: 1px solid blue; */
}


.project-title
{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.project-description
{
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
}

.project-description details summary {
  margin-bottom: 16px;
  cursor: pointer;
}

.project-description details p {
  font-style: normal;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 16px;
}

.project-status
{
  /* width: 40%; */
  flex: 0 1 300px;
}

.project-status p > a
{
  display: block;
  font-style: italic;
  font-size: 16px;
}


h3
{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.category-list .project-title
{
  font-size: 24px;
  line-height: 24px;
}

.category-list .category-list-projects
{

  margin-bottom: 100px;
}

.category-list .category-list-projects .category-list-project
{
  margin-bottom: 30px;
}

.category-list .category-list-projects .category-list-project .featured
{
  margin-bottom: 20px;
}

.pagination-block
{
  /* max-width: 609px; */
  /* width: 800px; */
  margin-bottom: 60px;
}

.pagination-block nav
{
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;

}

.pagination-block a
{
  text-decoration: none;
  text-transform: uppercase;

}

.random-block
{
  /* text-align: center; */
}


.footer
{
  background: var(--background);
  padding: 200px 0px;
  position: relative;
}



@media (min-width: 800px)
{
  .project-posts.grid
  {
    display: flex;
    flex-wrap: wrap;
  }

  .project-posts.grid > *
  {
    flex: 1 1 10px;
  }

  .category-list .category-list-projects
  {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat( auto-fit, minmax(40%, 1fr) );



  }

  .post-subscribe-form
  {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 8px;
    margin: 8px 0px;
  }


}


/*
*
*
* button
*
*/


input
{
  background: none;
  border: 1px solid var(--color);
  font-size: 14px;
  height: 42px;

  box-sizing: border-box;
  width: 100%;
  padding: 0px 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  /* border-radius: 4px; */
}

::placeholder
{
  font-weight: 300;
  color: var(--color);
  opacity: 1;
}

button, input[type=submit], .shopify-buy__btn
{
  background: var(--color);
  color: var(--background);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
   -webkit-appearance: none;
}

button:hover, input[type=submit]:hover
{
  background: var(--background);
  color: var(--color)
}



/*
*
*
* audio
*
*/

.audio
{
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}


.audio-content
{
  width: 100%;
}


.post-social-block
{
  display: flex;
}

.post-social-spacer
{
  width:135px;
}

.social
{
  display: none;
  align-items: center;
  /* border-top: 1px solid var(--color); */
  padding-top: 5px;
  margin-top: 30px;
  width: 100%;
}

.social .tooltip
{
  display: none;
}

.social a
{
  font-size: 16px;
  margin-right: 20px;
}

.social a *
{
  pointer-events: none;
}

.social .message
{
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--color);
  padding: 5px;
  line-height: 10px;
}


.social.message-visible .message
{
  display: block;
}

.quote
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 48px;
}

.quote strong
{
  text-transform: none;
  font-family: "Elgraine Black Italic";
  font-weight: normal;
  font-size: 48px;
}

.quote::after
{
  content: "";
  border-bottom: 2px solid var(--color);
  display: block;
  margin: 20px auto;
  max-width: 100px;
}

.promo
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo > *
{
  flex-grow: 0;
  flex-shrink: 0;
}

.youtube
{
  margin: 15px 0px;
  width: 100%;
  height: 56.25%;
}


ul.grid
{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: minmax(50%,auto) minmax(50%,auto); */
  grid-auto-flow: row dense;
}

ul.grid li.full
{
  grid-column: 1 / span 2;
}

ul.grid li img
{
  /* width: fit-content; */
}


ul.buttons {
  margin: 0px;
  padding: 0px;
}

.buttons
{
  display: flex;
  flex-wrap: wrap;
}

.buttons li
{
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.buttons li a, .shopify-buy__btn
{
  text-decoration: none;
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--background);

  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.buttons li a:hover {
  background: var(--background);
  color: var(--color);
}


.light {
  --color: var(--light);
  --color-alpha: var(--light-alpha);
  color: var(--color);
}

.light .post-meta-deco {
  filter: invert(100%) brightness(120%);
}


.columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 3fr;
}



.aside .quote {
  text-align: left;
  margin-bottom: 20px;  
  line-height: 36px;
}

.aside .quote strong {
  padding-right: 10px;
}

.aside .quote::after {
  display: none;
}

@media (max-width: 675px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px)
{
  .post-meta
  {
    width: 45px;
  }

  body
  {
    font-size: 18px;
  }

  .post-header
  {
    font-size:21px;
  }

  .quote
  {
    line-height: 30px;
  }

  .quote strong
  {
    font-size: 30px;
  }

  .post-social-spacer
  {
    width: 70px;
  }

  .post-main
  {
    padding: 100px 8px;
  }

  .aside .quote {
    line-height: 24px;
  }

}

@media (max-width: 320px)
{
  .post-meta
  {
    display: none;
  }

  .post-social-spacer
  {
    width:0px;
  }

}
