:root {
  --background: #DFE0DF;
  --color: red;
  --color-alpha: #FF000020;
  --dark: #062535;
  --dark-alpha: #06253520;
  --light: #f7ede2;
  --light-alpha: #f7ede220;
}

h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .3em;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

hr {
  margin: 32px 0px;
  border: none;
  border-bottom: 1px solid var(--color-alpha);
}

html {
  background: #222;
}

body {
  --color: var(--dark);
  --color-alpha: var(--dark-alpha);;

  background: var(--background);
  color: var(--color);
  font-family: "Spectral", serif;
  padding: 0px;
  margin: 0px;
  font-size: 21px;
  line-height: 1.4em;
  
}

.noscroll {
  overflow: hidden;
}

.light {
  --color: var(--light);
  --color-alpha: var(--light-alpha);
  color: var(--color);
}

.dark {
  --color: var(--dark);
  --color-alpha: var(--dark-alpha);
  color: var(--color);
}

.light .post-meta-deco {
  /* thanks to https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) saturate(100%) invert(89%) sepia(21%) saturate(133%) hue-rotate(343deg) brightness(104%) contrast(94%);
}


a {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 4px;
    text-decoration-color: currentColor;
  }
}

img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
  content-visibility: auto;
}

p.lede {
  font-size: 1.4em;
  line-height: 1.4em;
}

.date {
  background: var(--color);
  color: var(--background);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

.hero-image {
  height: 40vh;
  background: center center no-repeat;
  background-size: cover;
}



.header-main {
  padding: 24px 0px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid var(--color-alpha);

  hr {
    margin: 20px 0px;
  }
}

.header-menu-button {
  background-color: transparent;
  color: var(--color);
  padding: 0px;
  width: min-content;
  font-size: 20px;
  display: none;
  box-sizing: border-box;
  float: right;

  &:hover {
    background-color: transparent;
  }
}

.header-lede {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  width: 800px;
  max-width: calc( 100% - 40px );
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.header-nav {

  a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;

    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;

    &.active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: currentColor;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-decoration-color: currentColor;
    }
  }

}

.header-main {
  .title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

    &.active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
    }
  }

  .tagline {
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
  }

}



.block {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.full {
    min-height: 100vh;
  }
}

.block.lede .post-main {
  padding-top: 40px;
}

.post-main {
  padding: 200px 8px;
  flex: 1 1 auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: calc( 100% - 40px);
}

main>.block:first-child .post-main {
  padding: 40px 8px;
}

.posts>.block:first-child .post-main {
  padding-top: 40px;
}

.single {
  .block.full {
    min-height: calc(100vh - 108px);
  }
}


.post-body {
  display: flex;
  gap: 16px;
}

.group {
  padding-bottom: 10px;
}

.featured {
  margin-bottom: 45px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px;
  max-width: 100%;
}

.gallery .gallery-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.gallery .gallery-image .gallery-image-link {
  display: block;
  width: 100%;
  height: 300px;
}

.gallery .gallery-image img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category-list-project:has(.gallery-image-link:hover) .project-title a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 4px;
}


.post-meta {
  flex: 0 0 auto;
  width: 98px;
  margin-top: 15px;
  font-family: 'Questrial', sans-serif;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  border-top: 6px solid var(--color);
  padding-top: 8px;
  /* margin-right: 16px; */
}

.post-meta-deco {
  margin-top: 8px;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  height: 100%;
  background: url('../img/deco/elevation.webp') top center no-repeat;
  background-size: auto 500px;
}


.post-header {
  font-size: 24px;
  margin-bottom: 0px;
}

.post-header a {
  text-decoration: none;
}

.post-content-text {
  margin-top: .5em;
}

.post-content {
  p {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

}


.post-project {
  font-family: 'Raleway', sans-serif;
  font-size: .6em;
  line-height: 1em;
  

  a {
    font-style: italic;
  }
}



.post-permalink {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.post-subscribe {
  margin-top: 72px;
}

.post-subscribe-form input {
  margin-bottom: 12px;
}


/*
*
*
* PROJECT
*
*/

.project-body> :last-child {
  margin-bottom: 0 !important;
}

.project-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}


.project-info {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 8px;
  flex: 2 1 300px;
  margin-bottom: 20px;
}

h1, .project-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.project-description {
  font-style: italic;
  font-weight: 100;
  line-height: 1.2em;
  /* font-size: 1em; */
}

.project-description details summary {
  margin-bottom: 16px;
  cursor: pointer;
}

.project-description details p {
  font-style: normal;
  margin-bottom: 16px;
}

.project-status {
  flex: 0 1 300px;
}

.project-status p>a {
  display: block;
  font-style: italic;
  font-size: 16px;
}




.category-list .project-title {
  font-size: 24px;
  line-height: 24px;
}


.category-list .category-list-projects .category-list-project {
  margin-bottom: 30px;
}

.category-list .category-list-projects .category-list-project .featured {
  margin-bottom: 20px;
}

.pagination-block {
  margin-bottom: 60px;
}

.pagination-block nav {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;

}

.pagination-block a {
  text-decoration: none;
  text-transform: uppercase;

}


.footer {
  background: var(--background);
  padding: 200px 0px;
  position: relative;
}



.project-posts.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}






.paletted:nth-of-type(5n + 0) {
  --palette-color: var(--palette-1);
  --contrast-color: var(--contrast-1);
  --contrast-alpha-color: var(--contrast-alpha-1);
}

.paletted:nth-of-type(5n + 1) {
  --palette-color: var(--palette-2);
  --contrast-color: var(--contrast-2);
  --contrast-alpha-color: var(--contrast-alpha-2);
}

.paletted:nth-of-type(5n + 2) {
  --palette-color: var(--palette-3);
  --contrast-color: var(--contrast-3);
  --contrast-alpha-color: var(--contrast-alpha-3);
}

.paletted:nth-of-type(5n + 3) {
  --palette-color: var(--palette-4);
  --contrast-color: var(--contrast-4);
  --contrast-alpha-color: var(--contrast-alpha-4);
}

.paletted:nth-of-type(5n + 4) {
  --palette-color: var(--palette-5);
  --contrast-color: var(--contrast-5);
  --contrast-alpha-color: var(--contrast-alpha-5);
}


.page-section {
  padding: 200px max(20px, calc((100vw - 800px) / 2));
  margin: 0px min(-20px, calc( (100vw - 800px) / -2 ));
  background: var(--background);
  color: var(--color);

  &.paletted {
    --background: var(--palette-color);
    --color: var(--contrast-color);
    --color-alpha: var(--contrast-alpha-color);
  }
}


.post-content .page-section {
  position: relative;
  top: 40px;
}

@media (min-width: 800px) {
  .project-posts.grid {
    display: flex;
    flex-wrap: wrap;
  }

  .project-posts.grid>* {
    flex: 1 1 10px;
  }

  .post-subscribe-form {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 8px;
    margin: 8px 0px;
  }


}


/*
*
*
* Buttons
*
*/


input {
  background: none;
  border: 1px solid var(--color);
  font-size: 14px;
  height: 42px;

  box-sizing: border-box;
  width: 100%;
  padding: 0px 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  border-radius: none;
}

::placeholder {
  font-weight: 300;
  color: var(--color);
  opacity: 1;
}

button,
input[type=submit],
.shopify-buy__btn {
  background: var(--color);
  color: var(--background);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-appearance: none;
}

button:hover,
input[type=submit]:hover {
  background: var(--background);
  color: var(--color)
}



/*
*
*
* audio
*
*/

.audio {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--color-alpha);
  box-sizing: border-box;
  border-radius: 5px;
  transition: .3s;

  &.is-playing {
    background: var(--color-alpha);
  }
}

.audio-controls {
  cursor: pointer;
}

.audio-button {
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--background);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  position: relative;

  &:hover {
    color: var(--color);
    background: transparent;
  }

  .audio-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    width: 25px;
    height: 25px;
    line-height: 26px;
  }

  .fa-play {
    translate: calc(-50% + 2px) -50%;
  }
}

/* Wavesurfer styling */
.audio-content div div::part(cursor) {
  height: 100%;
  border-radius: 4px;
  background-color: var(--color);
  width: 2px;
  border: 2px solid var(--background);
  top: 50%;
  translate: 0% -50%
}


/*
*
* Social
*/

.post-social-block {
  display: flex;
}

.post-social-spacer {
  width: 135px;
}

.social {
  display: none;
  align-items: center;
  padding-top: 5px;
  margin-top: 30px;
  width: 100%;
}

.social .tooltip {
  display: none;
}

.social a {
  font-size: 16px;
  margin-right: 20px;
}

.social a * {
  pointer-events: none;
}

.message {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--color);
  color: var(--background);
  padding: 5px;
  line-height: 10px;
  width: max-content;
}


.message-visible .message {
  display: inline-block;
}

.quote {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;

  strong {
    text-transform: none;
    font-family: "Elgraine Black Italic";
    font-weight: normal;
    font-size: 2em;
  }

  &::after {
    content: "";
    border-bottom: 2px solid var(--color);
    display: block;
    margin: 20px auto;
    max-width: 100px;
  }
}

.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo>* {
  flex-grow: 0;
  flex-shrink: 0;
}

.youtube {
  margin: 15px 0px;
  width: 100%;
  height: 56.25%;
}


ul.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: minmax(50%,auto) minmax(50%,auto); */
  grid-auto-flow: row dense;

  li.full {
    grid-column: 1 / span 2;
  }
}



ul.buttons {
  margin: 0px;
  padding: 0px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  li {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      background: var(--color);
      border: 1px solid var(--color);
      color: var(--background);

      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      font-style: normal;
      line-height: 14px;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      letter-spacing: 2px;
      padding: 10px;
      display: block;
      white-space: nowrap;

      &:hover {
        background: var(--background);
        color: var(--color);
      }
    }
  }
}






.columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 3fr;
}



.aside {
  margin-bottom: 1em;

  .quote {
    text-align: left;
    line-height: 2em;

    strong {
      padding-right: 10px;
    }

    &::after {
      display: none;
    }
  }
}


.album__title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5px;
  display: none;
}

.album,
.gallery-image-link {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--color);
  padding: 9px;
  background: var(--color);
  position: relative;

  @media (max-width: 400px) {
    padding: 5px;
  }
}

.album:hover,
.gallery-image-link:hover {
  background: transparent;
}


.grid {
  --grid-gap: 10px;
  --grid-column-count: 1;
  --grid-gap-count: calc(var(--grid-column-count) - 1);
  --grid-total-gap-width: calc(var(--grid-gap-count) * var(--grid-gap));
  --grid-max-width: calc((100% - var(--grid-total-gap-width)) / var(--grid-column-count));
  --grid-min-width: 320px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-max-width), var(--grid-min-width)), 1fr));

  @media (min-width: 400px) {
    --grid-gap: 20px;
  }
}


.grid-2 {
  --grid-column-count: 2;
}

.grid-4 {
  --grid-column-count: 4;
}

.grid-5 {
  --grid-column-count: 5;
  --grid-min-width: 18%;
}



@media (max-width: 675px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .post-meta {
    width: 45px;
  }

  body {
    font-size: 18px;
  }

  .post-header {
    font-size: 21px;
  }

  .post-social-spacer {
    width: 70px;
  }

  .post-main {
    padding: 100px 8px;
  }

  .header-menu-button {
    display: block;
  }

.header-nav {
  position: fixed;
  inset: 0px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  text-align: right;
  overflow: hidden;
  max-height: 0px;
  transition: max-height .2s;

  .header-nav-close {
    padding: 20px;
    text-align: right;
  }

  a {
    margin: 0px;
    padding: 10px;
    padding-right: 20px;
    font-size: 1.1em;

    &:first-child {
      padding-top: 20px;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0px;
    top: 43px;
    background-color: var(--color);
    transition: max-height .2s, background-color .2s, opacity .2s, top .2s;
    z-index: -1;
  }

}
.is-open .header-nav {
  max-height: 100%;

  &::before {
    background-color: var(--background);
    opacity: .95;
    top: 0px;
  }
}




}

@media (max-width: 320px) {
  .post-meta {
    display: none;
  }

  .post-social-spacer {
    width: 0px;
  }
}


.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}