:root {
  --primary: #DFE0DF;
  --color: red;
  --color-alpha: #FF000020;
  --dark: #062535;
  --dark-alpha: #06253520;
  --light: #f7ede2;
  --light-alpha: #f7ede220;
}

html {
  background: #222;
  font-size: clamp(16px, 4vw, 21px);
}

body {
  --color: var(--dark);
  --color-alpha: var(--dark-alpha);

  background: var(--primary);
  color: var(--color);
  font-family: "Spectral", serif;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
}



h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: 1.75rem; 
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .1rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.1rem;
}


hr {
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--color-alpha);
}

.post {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}



ul {
  margin: 0;
  box-sizing: border-box;

  li {
    margin-inline-start: -.5rem;
    margin-block-start: .5em;
  }
}

a {
  color: var(--color);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 4px;
    text-decoration-color: currentColor;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  content-visibility: auto;
}

p.lede {
  font-size: 1.3rem;
  text-wrap: pretty;
}

nav ul {
  padding: 0;

  li {
    list-style: none;
    margin: 0;
  }
}


/*
 * Colorize
 */


.light {
  --color: var(--light);
  --color-alpha: var(--light-alpha);
  color: var(--color);
}

.dark {
  --color: var(--dark);
  --color-alpha: var(--dark-alpha);
  color: var(--color);
}

.light .post-meta-deco {
  /* thanks to https://codepen.io/sosuke/pen/Pjoqqp */
  filter: brightness(0) saturate(100%) invert(89%) sepia(21%) saturate(133%) hue-rotate(343deg) brightness(104%) contrast(94%);
}

.colorize {
  background: var(--primary);
  color: var(--color);
}

.palette:nth-of-type(5n + 0) {
  --palette-color: var(--palette-1);
  --contrast-color: var(--contrast-1);
  --contrast-alpha-color: var(--contrast-alpha-1);
}

.palette:nth-of-type(5n + 1) {
  --palette-color: var(--palette-2);
  --contrast-color: var(--contrast-2);
  --contrast-alpha-color: var(--contrast-alpha-2);
}

.palette:nth-of-type(5n + 2) {
  --palette-color: var(--palette-3);
  --contrast-color: var(--contrast-3);
  --contrast-alpha-color: var(--contrast-alpha-3);
}

.palette:nth-of-type(5n + 3) {
  --palette-color: var(--palette-4);
  --contrast-color: var(--contrast-4);
  --contrast-alpha-color: var(--contrast-alpha-4);
}

.palette:nth-of-type(5n + 4) {
  --palette-color: var(--palette-5);
  --contrast-color: var(--contrast-5);
  --contrast-alpha-color: var(--contrast-alpha-5);
}

.palette {
  --primary: var(--palette-color);
  --color: var(--contrast-color);
  --color-alpha: var(--contrast-alpha-color);
}

/*
 * Layout
 */

.stack > * + * {
  margin-block-start: 1.25rem;
}

.stack-tight > * + * {
  margin-block-start: .2rem;
}

.stack-compact > * + * {
  margin-block-start: .75rem;
}

.stack-loose > * + * {
  margin-block-start: 2.5rem;
}

.stack-airy > * + * {
  margin-block-start: 8rem;
}

[class~=stack] h3 + * {
  margin-block-start: .25rem;
}

.group {
  & > * + * {
    margin-block-start: .5rem;
  }

  & > h3 + * {
    margin-block-start: 0rem;
  }
}

.constrain > * {
  --gutter: 1.25rem;
  max-width: calc( min(100% - 2 * var(--gutter), 800px)  );
  margin-inline: auto;
}

.extend-wide {
  max-width: calc(min(100%, 1200px) - 2 * var(--gutter));
}

.extend-full {
  max-width: 100%;
}

.flush {
  --gutter: 0rem;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem 0;

  & > * {
    width: 100%;
  }

}

.block-loose {
  padding: 10rem 0;
}

.block-smart:not(:has(.hero)) {
  justify-content: space-between;  
  min-height: calc(100vh);
  padding: 0;

  & > * {
    min-height: auto;
    flex-basis: 999;
  }

  &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    min-height: 10rem;
  }

}

main > .block-smart:first-of-type {
  min-height: calc(100vh - 108px);
    
  &::before {
    min-height: 1.25rem;
    max-height: 10rem;
    flex: 1 1 1.25rem;
  }
}

.block-smart:has(.hero) {
  padding-bottom: 10rem;
}


.block-lede {
  padding-block-start: 1.25rem;
  padding-block-end: 10rem;
}

.block-smart, .block-lede, .block-loose {
  .isolate:last-child{
    margin-block-end: -5rem;
  }
}

.pull {
  margin-block-end: -1.25rem;
}

.pull-tight {
  margin-block-end: -.2rem;
}

.pull-compact {
  margin-block-end: -.75rem;
}

.pull-loose {
  margin-block-end: -2.5rem;
}

.pull-airy {
  margin-block-end: -8rem;
}

.isolate {
  & + * {
    margin-block-start: 5rem;
  }

  * + & {
    margin-block-start: 5rem;
  }
}

.masonry {
  grid-auto-flow: dense;

  --horizontal: 1;
  --vertical: 1;

  & > * {
    aspect-ratio: var(--horizontal) / var(--vertical);
    grid-column: span var(--horizontal);
    grid-row: span var(--vertical);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center center;
    object-fit: cover;
  }

}

.wide-2 {
  --horizontal: 2;
}

.wide-3 {
  --horizontal: 3;
}

.tall-2 {
  --vertical: 2;
}

.tall-3 {
  --vertical: 3;
}

.columns {
  columns: 2 325px;
}



.grid {
  --grid-gap: 1.25rem;
  --grid-column-count: 1;
  --grid-gap-count: calc(var(--grid-column-count) - 1);
  --grid-total-gap-width: calc(var(--grid-gap-count) * var(--grid-gap));
  --grid-max-width: calc((100% - var(--grid-total-gap-width)) / var(--grid-column-count));
  --grid-min-width: 300px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-max-width), min( var(--grid-min-width), 100%)), 1fr));
}

.grid-2 {
  --grid-column-count: 2;
}

.grid-3 {
  --grid-column-count: 3;
}

.grid-4 {
  --grid-column-count: 4;
}

.grid-5 {
  --grid-column-count: 5;
}

.gap-tight {
  --grid-gap: .25rem;
}

.gap-loose {
  --grid-gap: 2.5rem;
}


.flex {
  display: flex;
  gap: 1.25rem;
}


.align-center {
  text-align: center;
  justify-content: center;
}

.align-left {
  text-align: left;
  justify-content: start;
}

.align-right {
  text-align: right;
  justify-content: end;
}







/*
 * Object-specific
 */






.noscroll {
  overflow: hidden;
}





time {
  background: var(--color);
  color: var(--primary);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

.hero {
  height: 40vh;
  background: center center no-repeat;
  background-size: cover;
}

.header-menu-button {
  background-color: transparent;
  color: var(--color);
  padding: 0px;
  width: min-content;
  height: min-content;
  font-size: 20px;
  display: none;
  box-sizing: border-box;
  float: right;

  &:hover {
    background-color: transparent;
  }
}

.header-lede {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {

  ul {
    display: flex;
    gap: 1rem;
    position: relative;
  }

  li ul {
    position: absolute;
    margin-block-start: -.5em;
    a {
      font-weight: normal;
    }
  }

  a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .67rem;
    /* margin-right: 20px; */

    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;

    &.active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: currentColor;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-decoration-color: currentColor;
    }
  }

  .header-nav-close {
    display: none;
  }
}

.header-main {
  border-bottom: 1px solid var(--color-alpha);

  hr {
    margin-block: 1rem;
  }

  .title {
    font-size: 1.2rem;
    line-height: 0;
    font-weight: bold;
    text-decoration: none;

    &.active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
    }
  }

  .tagline {
    font-size: .75rem;
    font-style: italic;
    white-space: nowrap;
  }

}


.post-body {
  display: flex;
  gap: .5rem;
}

/*
 *
 * Featured
 */


 /** GALLERY **/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px;
}

.gallery .gallery-image {
  width: 100%;
  height: 12rem;
  overflow: hidden;
}

.gallery .gallery-image .gallery-image-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery .gallery-image img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/** AUDIO **/

.audio {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--color-alpha);
  box-sizing: border-box;
  border-radius: 5px;
  transition: .3s;

  &.is-playing {
    background: var(--color-alpha);
  }
}

.audio-controls {
  cursor: pointer;
}

.audio-button {
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--primary);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  position: relative;

  &:hover {
    color: var(--color);
    background: transparent;
  }

  .audio-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    width: 25px;
    height: 25px;
    line-height: 26px;
  }

  .fa-play {
    translate: calc(-50% + 2px) -50%;
  }
}

/* Wavesurfer styling */
.audio-content div div::part(cursor) {
  height: 100%;
  border-radius: 4px;
  background-color: var(--color);
  width: 2px;
  border: 2px solid var(--primary);
  top: 50%;
  translate: 0% -50%
}

/** QUOTE/TYPEOGRAPHY **/

h1.title, .quote {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;

  strong {
    display: block;
    text-transform: none;
    font-family: "Elgraine Black Italic";
    font-weight: normal;
    font-size: 2rem;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-decoration-color: currentColor;
    }
  }
}


.quote {
  text-align: center;
  line-height: 2.5rem;
  
  &::after {
    content: "";
    border-bottom: 2px solid var(--color);
    display: block;
    margin: 1rem auto;
    max-width: 5rem;
  }
}

.video {
  video {
    width: 100%;
  }
}




/*
 *
 * Others
 */





.showcase:has(.gallery-image-link:hover) .project-title a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 4px;
}


.post-meta {
  flex: 0 0 auto;
  width: 12.5%;
  max-width: 98px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1ex;
  border-top: .75ex solid var(--color);
  padding-top: .75rem;
}

.post-meta-deco {
  width: 100%;
  height: 100%;
  min-height: 5rem;
  max-height: 25rem;

  background: url('../img/deco/elevation.webp') top center no-repeat;
  background-size: auto 500px;
}

.post-title a {
  text-decoration: none;
}

.post-content-text {
  margin-top: .5rem;
}

.post-main {
  /* > * + * {
    margin-block-start: 1.25rem;
  } */

  h2 + .post-project {
    margin-block-start: 0rem;
  }

}


.post-project {
  font-family: 'Raleway', sans-serif;
  font-size: .6rem;
  line-height: 1rem;
  

  a {
    font-style: italic;
  }
}



.post-permalink {
  display: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}


/*
*
*
* PROJECT
*
*/

.project-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.25rem 0px;
  gap: 1.25rem;
}


.project-info {
  flex: 2 1 50%;
  gap: .25rem;
}

.project-status {
  flex: 1 1 300px;
}

.project-tag {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: bold;
  display: block;
}


.project-description {
  font-style: italic;
  font-weight: 100;
  line-height: 1.2rem;
  /* font-size: 1rem; */
}

.project-description details summary {
  margin-bottom: 16px;
  cursor: pointer;
}

.project-description details p {
  font-style: normal;
  margin-bottom: 16px;
}



.project-status p>a {
  display: block;
  font-style: italic;
  font-size: 16px;
}






.pagination-block {
  margin-bottom: 60px;
}

.pagination-block nav {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;

}

.pagination-block a {
  text-decoration: none;
  text-transform: uppercase;

}


footer {
  padding: 10rem 0px;
  position: relative;
}


.project-nav {
  ul, li {
    display: inline-block;
  }

  li:not(:last-child)::after{
    content: ' • ';
  }
}

.page-section {
  position: relative;
  top: 1.25rem;
  margin-block-start: 0px;
}


.post-subscribe-form {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: .5em;

  *:nth-child(1) {
    flex: 100 0 min(100%, 400px);
  }

  *:nth-child(2) {
    flex: 1 0 min(100%, 200px);
  }
}



/*
*
*
* Buttons
*
*/


input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;

  background: transparent;
  border: 1px solid var(--color);
  font-size: .67rem;

  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--color);

  transition: background .3s, color .3s;

  &:focus {
    background: var(--color-alpha);
  }
}

textarea {
  height: 25vh;
}

::placeholder {
  font-weight: 300;
  color: var(--color);
  opacity: 1;
}

button,
input[type=submit],
.shopify-buy__btn {
  background: var(--color);
  color: var(--primary);
  font-family: 'Raleway', sans-serif;
  font-size: .67rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-appearance: none;
}

button[type=submit],
input[type=submit] {
  border: 1px solid var(--color);
}

button:hover,
input[type=submit]:hover {
  background: var(--color-alpha);
  color: var(--color)
}


input[type=email]::before {
  content: 'hey';
  font: var(--fa-font-solid);
  font-size: 1rem;
  display: block;
  border: 1px solid red;
  inline-size: 20px;
  block-size: 20px;
}


.h-captcha:not(:has(iframe)) {
  display: none;
}

/*
*
* Social
*/


.tinylytics_kudos {
  display: inline-block;
  width: max-content;
  border-radius: 5px;
  background: none;
  padding: 0px;
  color: var(--color-alpha);
  font-size: .8rem;

  &:hover {
    background: none;
  }

  &::before {
    content: '\f004';
    font-size: 1rem;
    font: var(--fa-font-regular);
  }

  &:hover::before {
    font: var(--fa-font-solid);
  }

  &:disabled {
    font-weight: bold;
    color: var(--color);

    &::before {
      font: var(--fa-font-solid);
    }

  }

}

.post-social-block {
  margin-block-start: 0;
  position: absolute;
  display: flex;
}

.post-social-spacer {
  width: 135px;
}


.social .tooltip {
  display: none;
}

.social a {
  font-size: 16px;
  margin-right: 20px;
}

.social a * {
  pointer-events: none;
}

.message {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--color);
  color: var(--primary);
  padding: 5px;
  line-height: 10px;
  width: max-content;
}


.message-visible .message {
  display: inline-block;
}



.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-position: center center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  
  &:has(iframe) {
    cursor: auto;
    border: none;
  }

  iframe {
    background-color: black;
    width: 100%;
    aspect-ratio: 16/9;
  }
  

  .youtube-play {
    width: 68px;
    height: 48px;
    background: url("/assets/img/youtube-play.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    pointer-events: none;
  }
}


.buttons {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: .5rem;
}

.buttons li {
  display: block;
  width: min-content;
  margin: 0;
}

.buttons li a, a.button {
  text-decoration: none;
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--primary);

  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .67rem;
  font-style: normal;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: .1rem;
  padding: .5rem;
  display: inline-block;
  width: min-content;
  margin: 0;
  white-space: nowrap;

  &:hover {
    background: var(--background);
    color: var(--color);
  }
}


.album,
.gallery-image-link {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--color);
  padding: .5rem;
  background: var(--color);
  position: relative;
}

.albums {
  --grid-gap: .5rem !important;
  --grid-min-width: 5rem;
}

.album {
  padding: .25rem;
}

.album:hover,
.gallery-image-link:hover {
  background: transparent;
}




.project-posts.grid {
  --grid-gap: 0px;
  --grid-min-width: 800px;
}


@media (max-width: 450px) {

  .header-main {
    padding-bottom: calc(1.25rem - .45rem);

    &:has(.promo) {
      padding-bottom: 1.25rem;
    }
  }

  .header-menu-button {
    display: block;
  }

  .header-nav {
    max-width: unset;
    position: fixed;
    inset: 0px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    text-align: right;
    overflow: hidden;
    max-height: 0px;
    transition: max-height .2s;

    ul {
      flex-direction: column;
    }

    .header-nav-close {
      display: block;
      padding: 1.25rem;
      text-align: right;
    }

    a {
      margin: 0px;
      padding-right: 1.25rem;
      font-size: 1.1rem;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0px;
      /* top: 0; */
      background-color: var(--color);
      transition: max-height .2s, background-color .2s, opacity .2s, top .2s;
      z-index: -1;
    }

  }
    
  .is-open .header-nav {
    max-height: 100%;

    &::before {
      background-color: var(--primary);
      opacity: .95;
      top: 0px;
    }
  }

}

@media (max-width: 320px) {
  .post-meta {
    display: none;
  }

  .post-social-spacer {
    width: 0px;
  }
}



#copyright {
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
  gap: .5rem;

  align-items: center;

  a {
    font-size: 1rem;
    text-decoration-thickness: 0px;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-thickness: 4px;
      text-decoration-color: var(--color);
    }
  }
}



/*
 *
 * links
 */

.minimal {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1.25rem;

  .profile {
    width: 125px;
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }

  h2 {
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
  }

  .buttons {
    li {
      width: 100%;
    } 
    
    a {
      padding: 1rem;
      white-space: normal;

    }
  }
}


.icon {
  fill: currentColor;
  width: 2em;
  height: 2em;
  margin-block: -.5em;
  vertical-align: -0.125em;
  display: inline-block;
}

.icons {
  list-style-type: none;
  /* margin-left: var(--fa-li-margin, 2.5em); */
  padding-inline-start: .5em;

  i {
    width: 1.25em;
  }

  ul {
    margin-inline-start: .5em;
  }
}



.project-table-of-contents ul:has( > :nth-child(10) ) {
  columns: 2 325px;

  li {
    text-indent: -1rem;
    padding-inline-start: 1rem;
  }
}




.animate-words {
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  min-width: 350px;

  .word {
    position: absolute;
    -webkit-font-smoothing: antialiased;

    i {
      margin-inline-start: 1rem;
    }

    & > * {
      display: inline-block;
      translate: 0 2.6rem;
      animation: none;
      z-index: 1;
    }

    &:first-child > * {
      translate: 0 0rem;
    }

    &.is-dial-in > * {
      translate: 0 2.6rem;
      animation: dial-in .3s forwards;
    }

    &.is-dial-out > * {
      translate: 0 0rem;
      animation: dial-out .3s forwards;
    }

  }
}

@keyframes dial-in {
  0% {
    translate: 0 2.6rem;
    opacity: 0;
  }

  100% {
    translate: 0 0rem;
    opacity: 1;
  }
}

@keyframes dial-out {
  0% {
    translate: 0 0rem;
    opacity: 1;
  }

  100% {
    translate: 0 -2.6rem;
    opacity: 0;
  }
}



