---json
{
  "permalink": "feed-old.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "dain saint",
    "subtitle": "stories, sounds, and systems",
    "language": "en",
    "url": "https://dainsaint.com/",
    "author": {
      "name": "Dain Saint",
      "email": "hello@dainsaint.com"
    }
  }
}
---
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<lank></lank>
	<updated>
		{{ collections.content | getNewestCollectionItemDate | dateToRfc3339}}
	</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.content | reverse %} {%- set absolutePostUrl =
	post.url | absoluteUrl(metadata.url) %}
	<entry>
		<title>{{ post.data.title }}</title>

		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content xml:lang="{{ metadata.language }}" type="html">
			{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
		</content>
	</entry>
	{%- endfor %}
</feed>