---
permalink: /assets/data/transitions.json
---
{ {% for page in collections.all %}
  "/{{page.fileSlug}}": {
    "title": "{{page.data.title}}",
    "primary": "{{page.data.color}}",
    "contrast": "{{page.data.design.contrast.contrast}}"
  }{{ ',' if not loop.last }}
{% endfor %} }